@font-face {
  font-family: 'FleurDeLeah';
  src: url('./fonts/FleurDeLeah-Regular.ttf');
  /* src: url('./fonts/MeaCulpa-Regular.ttf'); */
}

@font-face {
  font-family: 'MeaCulpa';
  src: url('./fonts/MeaCulpa-Regular.ttf');
}

@font-face {
  font-family: 'Birthstone';
  src: url('./fonts/Birthstone-Regular.ttf');
}

@font-face {
  font-family: 'Crimson';
  src: url('./fonts/CrimsonText-Regular.ttf');
}

@theme {
  --font-Header: FleurDeLeah, 'sans-serif';
  --font-Title: Birthstone, 'sans-serif';
  --font-Classic: Crimson, 'sans-serif';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  /* padding: 0; */
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@import 'tailwindcss';
